In [2]:
import pandas as pd
import numpy as np

# Define department and importance mappings
departments = [
    ("Engineering", 5),
    ("Marketing", 3),
    ("Finance", 4),
    ("HR", 2),
    ("Science", 4)
]

# Define a function to generate random threat scores
def generate_random_data(mean, variance, num_samples):
    # Ensure the scores stay within the 0-90 range
    return np.random.randint(max(mean - variance, 0), min(mean + variance + 1, 90), num_samples)

# Generate sample data
data = {
    "Employee_Name": [],
    "Department": [],
    "Department_Importance": [],
    "Threat_Score": []
}

# Populate data for each department
for dept_name, importance in departments:
    num_employees = np.random.randint(10, 16)  # Number of employees per department
    mean_threat = np.random.randint(20, 70)    # Random mean threat score for department
    variance_threat = np.random.randint(5, 15) # Random variance for threat score

    threat_scores = generate_random_data(mean_threat, variance_threat, num_employees)

    # Fill data for each employee in the department
    for i in range(num_employees):
        data["Employee_Name"].append(f"{dept_name}_Emp_{i+1}")
        data["Department"].append(dept_name)
        data["Department_Importance"].append(importance)
        data["Threat_Score"].append(threat_scores[i])

# Create DataFrame
df = pd.DataFrame(data)
df  # Display the first 15 rows of the data as a sample

        Employee_Name   Department  Department_Importance  Threat_Score
0   Engineering_Emp_1  Engineering                      5            59
1   Engineering_Emp_2  Engineering                      5            56
2   Engineering_Emp_3  Engineering                      5            61
3   Engineering_Emp_4  Engineering                      5            54
4   Engineering_Emp_5  Engineering                      5            55
..                ...          ...                    ...           ...
62     Science_Emp_11      Science                      4            35
63     Science_Emp_12      Science                      4            29
64     Science_Emp_13      Science                      4            30
65     Science_Emp_14      Science                      4            38
66     Science_Emp_15      Science                      4            24

[67 rows x 4 columns]

In [3]:
def calculate_aggregated_threat(df):
    # 按部门分组，计算每个部门的平均威胁指数
    department_avg_threat = df.groupby('Department').apply(
        lambda x: x['Threat_Score'].mean()
    ).reset_index(name='Avg_Threat_Score')
    
    # 将重要性和平均威胁指数加入计算
    weighted_threats = []
    total_importance = 0
    
    for _, row in department_avg_threat.iterrows():
        dept_name = row['Department']
        avg_threat_score = row['Avg_Threat_Score']
        importance = df[df['Department'] == dept_name]['Department_Importance'].iloc[0]
        
        weighted_threats.append(avg_threat_score * importance)
        total_importance += importance
    
    # 计算总威胁指数
    aggregated_threat_score = sum(weighted_threats) / total_importance
    return round(aggregated_threat_score, 2)



# 调用函数并打印总威胁指数
aggregated_threat_score = calculate_aggregated_threat(df)
print("Aggregated Threat Score:", aggregated_threat_score)

Aggregated Threat Score: 46.7